.mat-toolbar {
    background-color: #1e1d39;
    box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1);
    font: 900 0.75rem/2rem "Montserrat", sans-serif;
    transition: all 0.2s;
    padding: 20px;
    margin: 0;
    position: absolute;
    bottom : 0;
  }