
<div class="main-content">
  <div class="container-fluid" >
  <div style="margin-top:5px;">
  <form>
   
  
     
     <mat-card style="background-color: #1e1d39;">
            
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card" style="background-color: #1e1d39;">
                <div class="card-header card-header-tabs card-header-primary">
                   
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="profile">
                            <div class="row"  style="overflow: auto;
                            ">
                                <div class="col-md-12">
                                    <div class="card card-chart">
                                       
                                        <div class="card-body" style="background-color:#1e1d39">
                                            <h4 class="card-title"><span class="text-success">Available Components</span></h4>
                                           
                                            <div class = "row">
                                                
                                              <div class="col-md-6">
                                                  <p class="card-category">
                                                      <span class="text-success">Commonly used</span> </p>
                                                     
                                              </div>
                                              
                                          </div> <div class="row">
                                                <div class="col-md-2">
                                                    <p class="card-category">
                                                        <span class="text-success"> <mat-icon>home</mat-icon></span>HRA</p>
                                                    
                                 
                                                </div>
                                                <div class="col-md-2">
                                                    <p class="card-category">
                                                        <span class="text-success"> <mat-icon>account_balance</mat-icon></span>House Property</p>
                                                    
                                 
                                                </div>
                                                <div class="col-md-2">
                                                    <p class="card-category">
                                                        <span class="text-success"> <mat-icon>assignment</mat-icon></span>Life Insurance</p>
                                                    
                                 
                                                </div>
                                                <div class="col-md-2">
                                                  <p class="card-category">
                                                    <span class="text-success"> <mat-icon>polymer</mat-icon></span> ULIP</p>
                                                  
                               
                                              </div>
                                              <div class="col-md-2">
                                                <p class="card-category">
                                                    <span class="text-success"> <mat-icon>account_balance_wallet</mat-icon></span>Deposit</p>
                                                
                             
                                            </div>
                                                
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <p class="card-category">
                                                        <span class="text-success"><mat-icon>chrome_reader_mode</mat-icon></span> Tution Fee</p>
                                                    
                                 
                                                </div>
                                                <div class="col-md-2">
                                                    <p class="card-category">
                                                        <span class="text-success"> <mat-icon>add_circle</mat-icon></span>mediclaim</p>
                                                    
                                 
                                                </div>
                                                <div class="col-md-2">
                                                    <p class="card-category">
                                                        <span class="text-success"> 	<mat-icon>work</mat-icon></span> PPF</p>
                                                    
                                 
                                                </div>
                                                
                                            </div>
                                            <mat-divider></mat-divider>
                                            <br>
                                            <div class = "row">
                                                
                                                <div class="col-md-6">
                                                    <p class="card-category">
                                                        <span class="text-success">Other Components</span> </p>
                                                       
                                                </div>
                                                
                                            </div>
                                            
                                            <div class="row">
                                               
                                              <div class="col-md-2">
                                                <p class="card-category">
                                                    <span class="text-success"> <mat-icon> directions_walk</mat-icon></span>Pension Plan</p>
                                                
                             
                                            </div>
                                            <div class="col-md-2">
                                                <p class="card-category">
                                                    <span class="text-success"> <mat-icon>account_balance</mat-icon></span>ELSS</p>
                                                
                             
                                            </div>
                                            <div class="col-md-2">
                                                <p class="card-category">
                                                    <span class="text-success"> <mat-icon> local_post_office</mat-icon></span>NPS</p>
                                                
                             
                                            </div>
                                            <div class="col-md-2">
                                              <p class="card-category">
                                                <span class="text-success"> <mat-icon> store_mall_directory</mat-icon></span> NSC</p>
                                              
                           
                                          </div>
                                          <div class="col-md-2">
                                            <p class="card-category">
                                                <span class="text-success"> <mat-icon>account_balance_wallet</mat-icon></span>SSY</p>
                                            
                         
                                        </div>
                                       
                                                
                                            </div>
                                            <div class="row">
                                               
                                              <div class="col-md-2">
                                                <p class="card-category">
                                                    <span class="text-success"> <mat-icon> local_hospital</mat-icon></span>Self Disability</p>
                                                
                             
                                            </div>
                                            <div class="col-md-2">
                                                <p class="card-category">
                                                    <span class="text-success"><mat-icon> local_hotel</mat-icon></span>Dependant Disability</p>
                                                
                             
                                            </div>
                                            <div class="col-md-2">
                                                <p class="card-category">
                                                    <span class="text-success"><mat-icon> money</mat-icon></span>Other income</p>
                                                
                             
                                            </div>
                                            <div class="col-md-2">
                                              <p class="card-category">
                                                <span class="text-success"> <mat-icon> local_pharmacy</mat-icon></span>Medical disease</p>
                                              
                           
                                          </div>
                                          <div class="col-md-2">
                                            <p class="card-category">
                                                <span class="text-success"> <mat-icon> local_library</mat-icon></span>Education Loan</p>
                                            
                         
                                        </div>
                                       
                                                
                                            </div>
                                            
                                          
                                            
                                        </div>
                                        <div class="card-footer" style="background-color:#c2185B">
                                            <div class="stats">
                                                <i class="material-icons">access_time</i> updated 4 minutes ago
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              
                                
                            </div>
                        </div>
                      
                      
                      
                    
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    </mat-card>

      

  
  
  </form>
</div>
</div>
</div>



 

