section {
  display: table;
}
.emp{
  width:6rem;
}
.example-form mat-slide-toggle {
  margin: 4px 0;
  display: block;
}
.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 400px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
.example-spacer {
    flex: 1 1 auto;
  }
  .mat-card{
    height:auto;
    width:500px;
    
 }
 .mat-card-content{
    height:auto;
 }
 .label1 {
  font-size: 14px;
  width: 85%;
  background-color: #1e1d39;
  
}
  .mat-toolbar {
    background-color: #1e1d39;
    box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1);
    font: 900 0.75rem/2rem "Montserrat", sans-serif;
    transition: all 0.2s;
  }
  .example-card {
    background-color: #1e1d39;
    max-width: 1000px;
    margin-bottom: 8px;
  }
  .mat-table {
    background: #1e1d39;
}
  table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }