<app-dashboard-header></app-dashboard-header>

<div class="container" style="margin-top:59px;background-color:#1e1d39;height:450px;padding-top:22px;">
    
      
    <mat-grid-list cols="5" rowHeight="fit" style="height:400px;" gutterSize="7px">
        
        <mat-grid-tile rowspan="4" colspan="2"><img
            class="pay"
            src="../../assets/images/payroll-pic.png"
            alt="Asari Logo"
          /></mat-grid-tile> 
        
         
        <mat-grid-tile rowspan="2" style="background-color:rgb(218, 155, 174)"><a routerLink="/payroll">
            <img
            class="salary"
            src="../../assets/icons/employee.png"
            alt="Asari Logo"
          />
        </a></mat-grid-tile>
        <mat-grid-tile rowspan="2" style="background-color:#13a89e"><a routerLink="/global">
            <img
                class="salary"
                src="../../assets/icons/report.png"
                alt="Asari Logo"
              />
        </a></mat-grid-tile>
        <mat-grid-tile rowspan="2" style="background-color:#aaa"><a routerLink="/jobdata">
            <img
                class="salary"
                src="../../assets/icons/taxes.png"
                alt="Asari Logo"
              />
        </a></mat-grid-tile>
        <mat-grid-tile rowspan="2" style="background-color:#fee252;"><a routerLink="/payslip">
          <img
              class="salary"
              src="../../assets/icons/wallet.png"
              alt="Asari Logo"
            />
      </a></mat-grid-tile>
      <mat-grid-tile rowspan="2" style="background-color:lightgreen"><a routerLink="/payroll">
        <img
            class="salary"
            src="../../assets/icons/home.png"
            alt="Asari Logo"
          />
    </a></mat-grid-tile>
    <mat-grid-tile rowspan="2" style="background-color:#0f75bc"> <a href="../../assets/files/Investment_Policy.pdf" download ="Investment_Policy.pdf">
      <img
          class="salary"
          src="../../assets/icons/investing.png"
          alt="Asari Logo"
        />
  </a></mat-grid-tile>
 
      
      </mat-grid-list>
     
      

  </div>
<app-footer></app-footer>